.container {
    display: flex;
    max-width: 100vw;
}

.post {
    border: 1px solid #696969;
    width: 33.3333%;
    /*min-width: 300px;*/
    /*flex-wrap: wrap;*/
    filter: grayscale(100%);
    padding: 4.1% 3.3% 2.5% 3.3%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 15px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

.post:hover {
    cursor: pointer;
    filter: grayscale(0%);
    color: rgba(0, 0, 0, 1);
}

img {
    width: 100%;
    height: 100%;
}

.name {
    justify-self: center;
    top: 25px;
    position: absolute;
    z-index: 2;
}


@media screen and (min-width: 768px) and (max-width: 960px) {
    .container{
        width: 100%;
    }
    .post {
        width: 50vw;
        padding: 0;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .post {
        width: 50vw;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 481px) {
    .post {
        width: 200px;
        flex-wrap: wrap;
    }

}



