.container {
    background-color: dimgrey;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.container h2 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
}

.text, .description {
    border-radius: 1px;
    margin-bottom: 50px;
    outline: none;
    border: none;
    height: 50px;
    padding: 10px;
    background-color: lightgrey;
    font-weight: bold;
    font-size: 20px;
}

.description {
    /*height: 4em;*/
}

.mainImg, .projectImg {
    margin-bottom: 50px;
}

.container h3 {
    margin-bottom: 10px;
}

.button {
    width: 100px;
    height: 40px;
    align-self: center;
    border-radius: 1px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}