.container {
    color: white;
    position: fixed;
    z-index: 2;
    margin: 40px;
    /*font-size: 20px;*/
}

.languageOpt {
    position: fixed;
    right: 50px;
    /*color: white;*/
}

.logo {
    position: fixed;
    letter-spacing: 2px;
    font-weight: bold;
}

.contact {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
.container{font-size: 20px;}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .container{font-size: 30px;}
}

@media screen and (max-width: 481px) {
    .container{font-size: 18px;}
}