.container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.first {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.second {
    min-height: 100vh;
    padding:7%;
    background-color: black;
    display: flex;
    align-items: center;
}

.description {
    color: white;
    font-size: 60px;
    padding: 0 0 0 2%;
    font-weight: bold;
    align-content: center;
    justify-content: center;
}


.third {
    min-height: 100vh;
    background-color: white;
}

.name {
    position: absolute;
    top: 40px;
    left: 5%;
    text-align: left;
    /*padding-top: 40px;*/
    /*padding-left: 5%;*/
}

.mainImg {
    width: 48vw;
    margin: -25px 0 0 -25px;
    height: auto;
    align-self: center;
    justify-self: center;
}

.closeButton {
    position: fixed;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 40px;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    z-index: 11;
}


.container img {
    max-width: 100vw;
}

/*@media screen and (min-width: 961px) and (max-width: 1400px) {*/
    /*.mainImg{*/
        /*width: 800px;*/
        /*margin: 0 0;*/
    /*}*/
    /*.first{*/
        /*height: 80vh;*/
    /*}*/
/*}*/
@media screen and (min-width: 768px) and (max-width: 1400px) {
    .first{
        min-height: 60vh;
    }

    .mainImg{
        width: 800px;
        margin: 0 0;
        padding-top: 5%;
        /*height: 100%;*/
    }

    .name{
        font-size: 50px;
    }

    .description{
        font-size: 80px;
    }

}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .mainImg{
        width: 500px;
        margin: 0 0;
    }
    .first{
        min-height: 50vh;
    }
    .name{
        font-size: 40px;
    }
    .description{
        font-size: 50px;
    }

}

@media screen and (max-width: 481px) {

    .first{
     height: 70vh;
    }

    .mainImg{
        width: 500px;
        margin: 35px 0;
    }

    .description{
        font-size: 38px;
    }

    .name{
        text-align: center;
        padding-left: 0;
    }

}


